.mainNav {
  display: flex;           /* Flexbox to align items in a row */
  justify-content: flex-end; /* Aligns the nav items to the right */
  align-items: center;     /* Center items vertically */
  width: 100%;             /* Make sure the navbar takes full width */
  background-color: #fff;  /* Add a background color (optional) */
  padding: 1rem 5%;        /* Add some padding around the navbar */
  box-sizing: border-box;  /* Include padding in the element's total width/height */
  z-index: 10;
}

.navList {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.listItem {
  margin: 0 15px;
}

.link {
  display: inline-block;
  padding: 1.25rem 1.5rem;
  border: 1px solid transparent;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.link:focus,
.link:hover {
  border: 1px solid rgb(0, 0, 0);
}

.link:active {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(204, 204, 204);
}


.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.hamburgerBar {
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
}

@media screen and (max-width: 1050px) {
  .mainNav {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .mainNav {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .mainNav {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 1rem 5%;
    box-sizing: border-box;
    position: relative;
  }
  .hamburger {
    display: flex;
  }
  .navList {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(253, 249, 245);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    z-index: 15;
    border-radius: 10px;

  }

  .navList.open {
    max-height: 300px;
    opacity: 1;
  }

  .listItem {
    margin: 10px 0;
  }
}
